<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=8; IE=7; IE=9; IE=10; IE=EDGE" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Robot controller</title>

        <script type="text/javascript" src="/static/js/jquery-3.7.1.min.js"></script>
        <script type="text/javascript" src="/static/js/joy.js"></script>
        <script type="text/javascript" src="/static/js/input-knobs/input-knobs.js"></script>
        <script type="text/javascript" src="/static/js/webaudio-controls/webcomponents-lite.js"></script>
        <script type="text/javascript" src="/static/js/webaudio-controls/webaudio-controls.js"></script>
        <script type="text/javascript" src="/static/js/robo_api.js"></script>
        <link rel="stylesheet" href="/static/styles/general_style.css">
    </head>
    <body>
        <div class="pip">
            <div class="pipfront">
                <div class="top">
                  <div class="top-panel"></div>
                </div>
                <div class="top-button"></div>
                <div class="screw1"></div><div class="screw2"></div>
                <div class="screen-border">
                    <div class="screen">
                        <div id="hv">
                            <div class="view" id="video"></div>
                        </div>
                    </div>
                </div>

                <div class="screw3"></div>
                <div class="reset" id="reset"></div>
                <div class="screw4"></div>
                <div class="screw5"></div>
            </div>
            <div class="left-wheel">
                <div class="left-wheel-shadow"></div>
                <div class="left-wheel-shadow"></div>
                <div class="left-wheel-shadow"></div>
                <div class="left-wheel-shadow"></div>
            </div>
            <div class="wheel">
                <div class="wheel-shadow"></div>
                <div class="wheel-shadow"></div>
                <div class="wheel-shadow"></div>
                <div class="wheel-shadow"></div>
                <div class="wheel-shadow"></div>
                <div class="wheel-plug"></div>
                <div class="wheel-wire"></div>
            </div>
            <div class="rads">
                <div class="rads-meter">
                    <div class="rads-value"></div>
                    <div class="bump1"></div>
                    <div class="bump2"></div>
                </div>
            </div>
            <div class="speakers">
                <div class="speaker"></div>
                <div class="speaker"></div>
                <div class="speaker"></div>
                <div class="speaker"></div>
            </div>
            <div class="bump3"></div>
            <div class="bump4"></div>
            <div class="tune-meter"></div>
            <div class="tune-wheel">
                <div class="analog"></div>
            </div>
            <div class="bottom">
                <div class="column">
                    <div id="joystick_direction_div" class="roulette joystick">
                        <div id="joystick_direction_handle" class="roulette-handle">
                            <div class="roulette-handle-center"></div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div id="joystick_camera_div" class="roulette joystick">
                        <div id="joystick_camera_handle" class="roulette-handle">
                            <div class="roulette-handle-center"></div>
                        </div>
                    </div>
                </div>
                <div class="bottom-clips">
                    <div class="bottom-clip">
                        <span></span>
                    </div>
                    <div class="bottom-clip">
                        <span></span>
                    </div>
                    <div class="bottom-clip">
                        <span></span>
                    </div>
                    <div class="bottom-clip">
                        <span></span>
                    </div>
                </div>
                <div class="bottom-switch"></div><div class="bump5"></div><div class="bump6"></div>
            </div>
            <div class="top-right"></div>
            <div class="spike-wheel"></div>
            <div id="zoom_div">
                <webaudio-knob id="zoom"
                    src="/static/js/webaudio-controls/knobs/LittlePhatty.png" min="0" max="100" tooltip="Увеличение камеры">
                </webaudio-knob>
            </div>
            <div id="focus_div">
                <webaudio-knob id="focus"
                    src="/static/js/webaudio-controls/knobs/LittlePhatty.png" min="0" max="100" tooltip="Фокус камеры">
                </webaudio-knob>
                <webaudio-switch id="autofocus_switch" class="input-switch"
                                 src="/static/js/webaudio-controls/knobs/switch_toggle.png" type="toggle"
                                 invert="1" value="1" tooltip="Переключить автофокус"/>
            </div>
        </div>

        <script type="text/javascript">

		function set_controls_size()
		{
		    const knob_size = Math.trunc($(".pip").width() * 0.063);
            const switch_size = knob_size; // * 0.875;

            $("#zoom").prop("width", knob_size).prop("height", knob_size);
            $("#focus").prop("width", knob_size).prop("height", knob_size);
            $("#autofocus_switch").prop("width", switch_size).prop("height", switch_size);

		}

        $(window).resize(set_controls_size);
        $(window).ready(set_controls_size);

        (async () =>
        {
            var stop_send = false;

            function set_autofocus(enabled)
            {
                $("#autofocus_switch").prop("value", enabled);
            }

            function set_focus_value(value)
            {
                $('#focus').val(value);
            }

            async function get_server_values()
            {
                result = await api_get_controls();
                console.log('Controls', result)

                focus_constraints = result["data"].focus_absolute;

				if (focus_constraints !== undefined)
                {
				    $("#focus").prop("min", focus_constraints.min);
                    $("#focus").prop("max", focus_constraints.max);
                    $("#focus").prop("disabled", false);
                    $("#autofocus_switch").prop("disabled", false);
                }
                else
                {
                    $("#focus").prop("disabled", true);
                    $("#autofocus_switch").prop("disabled", true);
                }

                pan_param = result["data"].pan_absolute;
                tilt_param = result["data"].tilt_absolute;
                zoom_param = result["data"].zoom_absolute;

                focus = await api_get_focus();
                console.log('Focus', focus);

                set_autofocus(focus["auto"]);
                set_focus_value(focus["value"]);

                return {
                    pan_min: pan_param !== undefined ? pan_param.min : 0,
                    pan_max: pan_param !== undefined ? pan_param.max : 0,
                    tilt_min: tilt_param !== undefined ? tilt_param.min : 0,
                    tilt_max: tilt_param !== undefined ? tilt_param.max : 0,
                    zoom_min: zoom_param !== undefined ? zoom_param.min : 0,
                    zoom_max: zoom_param !== undefined ? zoom_param.max : 0
                };
            }

            function set_focus_knob_enabled()
            {
                $("#focus").prop("enable", !Boolean($("#autofocus_switch").prop("value")));
            }

            function set_zoom(value, zoom_min = ptz_limits.zoom_min, zoom_max = ptz_limits.zoom_max)
            {
                value = Math.min(Math.max(value, zoom_min), zoom_max);
                $('#zoom').prop("value", value);
                if (!stop_send) api_send_ptz(0, 0, Number($("#zoom").prop("value")));
            }

            const event_source = new EventSource('/event_stream');
            const ptz_limits = await get_server_values();
            console.log(ptz_limits);

            const pan_scaler = (ptz_limits["pan_max"]- ptz_limits["pan_min"]) / ($("#joystick_camera_div").width() * 20000);
            const tilt_scaler = (ptz_limits["tilt_max"] - ptz_limits["tilt_min"]) / ($("#joystick_camera_div").height() * 20000);
            console.log('Pan scaler = ' + pan_scaler + ', tilt scaler = ' + tilt_scaler);

            $("#zoom").prop("min", ptz_limits["zoom_min"]);
            $("#zoom").prop("max", ptz_limits["zoom_max"]);
            console.log(await api_get_zoom());
            $('#zoom').val(await api_get_zoom());

            $("#pip").show();

            var joystick_direction = new JoyStick("joystick_direction_handle",
                { "title": "joy_direction", "autoReturnToCenter": true,
                  "internalFillColor": "#563432", "internalStrokeColor": "#353331", "externalStrokeColor": "#83928d",
                }, (status) => { if (!stop_send) api_send_direction(status.cardinalDirection, status.x, status.y) });

            // c2933d
            var joystick_camera = new JoyStick("joystick_camera_handle",
                { "title": "joy_camera", "autoReturnToCenter": true,
                  "internalFillColor": "#303c2f", "internalStrokeColor": "#353a4a","externalStrokeColor": "#83928d" },
                  (status) =>
                  {
                      if (!stop_send) api_send_ptz(Math.floor(pan_scaler * status.x),
                                                   Math.floor(tilt_scaler * status.y),
                                                   Number($("#zoom").prop("value")))
                  });

            $("#video").on("mousewheel", function(event)
            {
                console.log("Delta = " + event.originalEvent.wheelDeltaY);
                zoom_knob = $('#zoom');
                scale = (zoom_knob.prop("max") - zoom_knob.prop("min")) / $('#video').height();
                scale /= 5;

                console.log("Zoom = " + zoom_knob.prop("min") + ", " + zoom_knob.prop("max") + ", scale = " + scale);
                zoom_value = Math.round(Number(zoom_knob.val()) + scale * event.originalEvent.wheelDeltaY);
                console.log('Zoom value = ' + event.originalEvent.wheelDeltaY + ", " + zoom_value);
                set_zoom(zoom_value);
                event.preventDefault();
            });

            $("#autofocus_switch").on("change", async () =>
            {
                set_focus_knob_enabled();
                if (!stop_send) await api_send_focus(Boolean($("#autofocus_switch").prop("value")), Number($("#focus").val()));
            });

            set_focus_knob_enabled();

            $("#autofocus_switch").click();
            $("#zoom").on("change", async () => api_send_ptz(0, 0, $('#zoom').prop("value")));
            $("#focus").on("change", async () => await api_send_focus(Boolean($("#autofocus_switch").prop("value")), Number($("#focus").val())));

            $("#reset").on("click", async () =>
            {
                $("#zoom").val(0);
                if (!stop_send) await api_reset();
            });

            event_source.addEventListener("state_changed", event =>
            {
                message = JSON.parse(event.data)
                console.log('Event: ' + message);
                stop_send = true;
                switch (message.event_type)
                {
                    case "PTZRecord":
                        set_zoom(message.payload.zoom);
                    break;
                    case "Focus":
                        set_autofocus(message.payload.auto);
                        set_focus_value(message.payload.value);
                    break;
                    case "Reset":
                    break;
                    case "ConnectionInfo":
                    break;
                }
                stop_send = false;
            });

            setInterval(async () =>
            {
                meter = $(".rads-value");
                conn_info = await api_get_connection();

                if (conn_info === undefined)
                {
                    return;
                }

                conn_info = JSON.parse(conn_info);
                const min_wifi_level = 0;
                const max_wifi_level = 100;
                const min_deg_level = -90;
                const max_deg_level = 90;
                degrees = (conn_info.level - min_wifi_level) / (max_wifi_level - min_wifi_level) *
                          (max_deg_level - min_deg_level) + min_deg_level;
                console.debug("Wifi level: " + degrees)
                meter.css("--rotation", degrees + "deg");
            }, 1500);
        })();
        </script>

    </body>
</html>
